@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&family=Shrikhand&display=swap");
html {
  font-size: 100%;
}
@media all and (min-width: 768px) {
  html {
    font-size: 110%;
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.page-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section, nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-weight: 100;
  font-size: 1.1rem;
  position: relative;
}
h4::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 2.5rem;
  border-bottom: 0.15rem #99e2d0 solid;
}

h5 {
  font-weight: 700;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.btn-primary {
  color: white;
  font-size: 0.9rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  background: #9356dc;
  background: linear-gradient(355deg, #4a4a9e 0%, #9356dc 10%, #ff79da 100%);
  box-shadow: 0.5rem 0.5rem 1rem #bdbdbd;
  position: relative;
  overflow: hidden;
  transition: transform 350ms;
  z-index: 1;
}
.btn-primary::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.5rem;
  background: #ae80e5;
  background: linear-gradient(355deg, #6464b7 0%, #ae80e5 10%, #fface8 100%);
  opacity: 0;
  transition: opacity 350ms;
  z-index: -1;
}
.btn-primary:hover {
  transform: scale(1.05);
  animation: darken-shadow 350ms forwards;
}
.btn-primary:hover::after {
  opacity: 1;
}

@keyframes darken-shadow {
  from {
    box-shadow: 0.5rem 0.5rem 1rem #bdbdbd;
  }
  to {
    box-shadow: 0.5rem 0.5rem 1rem #8a8a8a;
  }
}
.main-header {
  width: 100%;
  box-shadow: 0px 2px 2px #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: relative;
}
.main-header a {
  position: absolute;
  left: 5%;
  transition: transform 350ms ease-in-out, backgroud-color 350ms ease-in-out;
}
.main-header a:hover {
  transform: scale(1.5);
  background: #4a4a9e;
  background: linear-gradient(201deg, #4a4a9e 0%, #9356dc 31%, #ff79da 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-header h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: lighter;
  padding: 0.5rem 0;
}

footer {
  width: 100%;
  background-color: #353535;
  color: white;
  transition: color 250ms linear;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}
footer h6 {
  display: inline-block;
  width: 120px;
}
footer li:hover span {
  color: #ff79da;
}
footer li:hover .link {
  color: transparent;
}
footer li:hover .link.n--2::after {
  opacity: 1;
}
footer li:hover .link.n--3::after {
  opacity: 1;
}
footer li:hover .link.n--4::after {
  opacity: 1;
}
footer li:hover .link.n--5::after {
  opacity: 1;
}
footer li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  background-color: #ff79da;
  background-clip: text;
}
footer .link {
  color: white;
  position: relative;
  transition: color 250ms linear;
}
footer .link.n--1::after {
  content: "ohmyfood";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  background: #6464b7;
  background: linear-gradient(201deg, #6464b7 0%, #a16be0 31%, #ff93e1 100%);
  background-clip: text;
  width: 120px;
}
@media all and (min-width: 993px) {
  footer .link.n--1::after {
    left: -3px;
    width: 120px;
    text-align: center;
  }
}
footer .link.n--1:hover {
  color: transparent;
}
footer .link.n--1:hover::after {
  opacity: 1;
}
footer .link.n--2::after {
  content: "Proposer un restaurant";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  background: #6464b7;
  background: linear-gradient(201deg, #6464b7 0%, #a16be0 31%, #ff93e1 100%);
  background-clip: text;
}
footer .link.n--3::after {
  content: "Devenir partenaire";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  background: #6464b7;
  background: linear-gradient(201deg, #6464b7 0%, #a16be0 31%, #ff93e1 100%);
  background-clip: text;
}
footer .link.n--4::after {
  content: "Mention légales";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  background: #6464b7;
  background: linear-gradient(201deg, #6464b7 0%, #a16be0 31%, #ff93e1 100%);
  background-clip: text;
}
footer .link.n--5::after {
  content: "Contact";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
  background: #6464b7;
  background: linear-gradient(201deg, #6464b7 0%, #a16be0 31%, #ff93e1 100%);
  background-clip: text;
}
footer h6 {
  padding-bottom: 1rem;
}
footer h6 a {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  font-weight: lighter;
}
footer ul {
  width: 230px;
  list-style: none;
}
footer ul li {
  padding: 0.3rem 0;
}
footer ul li i {
  padding-right: 0.3rem;
}
footer ul li span {
  position: relative;
  display: inline-block;
  width: 1.3rem;
  transition: color 250ms linear;
}
@media all and (min-width: 993px) {
  footer {
    text-align: center;
    align-items: center;
  }
}

.img-section {
  width: 100%;
  height: calc(40vh - 2rem);
}
@media all and (min-width: 993px) {
  .img-section {
    height: calc(50vh - 2rem);
  }
}
.img-section img {
  width: 100%;
  height: 40vh;
  z-index: -1;
  object-fit: cover;
  position: absolute;
}
@media all and (min-width: 993px) {
  .img-section img {
    height: 50vh;
    object-position: 55% 60%;
  }
}

.dish-card {
  height: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem 0.7rem 0.5rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.6rem #bdbdbd;
}
.dish-card h5 {
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-card__description {
  width: 90%;
  min-width: 0;
  transition: width 350ms cubic-bezier(0.78, 0.13, 0.33, 0.87);
}
.dish-card__description p {
  font-weight: 300;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dish-card__price {
  position: relative;
  top: 0.8rem;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  transition: transform 350ms cubic-bezier(0.78, 0.13, 0.33, 0.87);
}
.dish-card__validation {
  height: 3.5rem;
  width: 4rem;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 100%;
  transition: transform 350ms cubic-bezier(0.78, 0.13, 0.33, 0.87);
}
.dish-card__validation .validation-logo {
  opacity: 0;
  transition: transform 500ms 150ms cubic-bezier(0.51, 0.3, 0.11, 0.96), opacity 300ms 100ms ease-in-out;
}
@media all and (min-width: 993px) {
  .dish-card {
    min-width: 400px;
  }
  .dish-card__description h5 {
    font-size: 0.9rem;
  }
  .dish-card__description p {
    font-size: 0.85rem;
  }
}
.dish-card:hover .dish-card__validation {
  transform: translateX(-4rem);
}
.dish-card:hover .dish-card__validation .validation-logo {
  transform: rotate(1turn);
  opacity: 1;
}
.dish-card:hover .dish-card__price {
  transform: translateX(-4rem);
}
.dish-card:hover .dish-card__description {
  width: calc(90% - 4rem);
}

.card-animation {
  opacity: 0;
  animation: cards 800ms forwards ease-in-out;
}
.card-animation.n1 {
  animation-delay: 76.9230769231ms;
}
.card-animation.n2 {
  animation-delay: 153.8461538462ms;
}
.card-animation.n3 {
  animation-delay: 230.7692307692ms;
}
.card-animation.n4 {
  animation-delay: 307.6923076923ms;
}
.card-animation.n5 {
  animation-delay: 384.6153846154ms;
}
.card-animation.n6 {
  animation-delay: 461.5384615385ms;
}
.card-animation.n7 {
  animation-delay: 538.4615384615ms;
}
.card-animation.n8 {
  animation-delay: 615.3846153846ms;
}
.card-animation.n9 {
  animation-delay: 692.3076923077ms;
}
.card-animation.n10 {
  animation-delay: 769.2307692308ms;
}
.card-animation.n11 {
  animation-delay: 846.1538461538ms;
}
.card-animation.n12 {
  animation-delay: 923.0769230769ms;
}
.card-animation.n13 {
  animation-delay: 1000ms;
}

@keyframes cards {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hidden-index {
  width: 100%;
  height: 0;
  overflow: hidden;
  animation: display-index 100ms 3000ms linear forwards;
}

.loader {
  width: 100%;
  height: 100vh;
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidde-loader 800ms 3000ms cubic-bezier(0.66, 0.1, 0.71, 1.01) forwards;
}
.loader span {
  display: block;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  position: absolute;
  margin: auto;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px black;
  animation: color 850ms infinite linear alternate;
}
.loader span:nth-child(1) {
  visibility: hidden;
}
@media all and (min-width: 993px) {
  .loader span {
    top: 30vh;
  }
}
.loader span:nth-child(1) {
  font-size: 0.15vw;
  opacity: 0.1;
  animation-delay: 0ms;
  color: #9356dc;
  transform: rotateX(1deg) translateX(-50%) translateY(0%);
  z-index: 1;
}
.loader span:nth-child(2) {
  font-size: 1.65vw;
  opacity: 0.2;
  animation-delay: 100ms;
  color: #9356dc;
  transform: rotateX(2deg) translateX(-50%) translateY(1%);
  z-index: 2;
}
.loader span:nth-child(3) {
  font-size: 3.15vw;
  opacity: 0.3;
  animation-delay: 200ms;
  color: #9356dc;
  transform: rotateX(3deg) translateX(-50%) translateY(2%);
  z-index: 3;
}
.loader span:nth-child(4) {
  font-size: 4.65vw;
  opacity: 0.4;
  animation-delay: 300ms;
  color: #9356dc;
  transform: rotateX(4deg) translateX(-50%) translateY(3%);
  z-index: 4;
}
.loader span:nth-child(5) {
  font-size: 6.15vw;
  opacity: 0.5;
  animation-delay: 400ms;
  color: #9356dc;
  transform: rotateX(5deg) translateX(-50%) translateY(4%);
  z-index: 5;
}
.loader span:nth-child(6) {
  font-size: 7.65vw;
  opacity: 0.6;
  animation-delay: 500ms;
  color: #9356dc;
  transform: rotateX(6deg) translateX(-50%) translateY(5%);
  z-index: 6;
}
.loader span:nth-child(7) {
  font-size: 9.15vw;
  opacity: 0.7;
  animation-delay: 600ms;
  color: #9356dc;
  transform: rotateX(7deg) translateX(-50%) translateY(6%);
  z-index: 7;
}
.loader span:nth-child(8) {
  font-size: 10.65vw;
  opacity: 0.8;
  animation-delay: 700ms;
  color: #9356dc;
  transform: rotateX(8deg) translateX(-50%) translateY(7%);
  z-index: 8;
}
.loader span:nth-child(9) {
  font-size: 12.15vw;
  opacity: 0.9;
  animation-delay: 800ms;
  color: #9356dc;
  transform: rotateX(9deg) translateX(-50%) translateY(8%);
  z-index: 9;
}
.loader span:nth-child(10) {
  font-size: 13.65vw;
  opacity: 1;
  animation-delay: 900ms;
  color: #9356dc;
  transform: rotateX(10deg) translateX(-50%) translateY(9%);
  z-index: 10;
}

@keyframes color {
  33% {
    color: #ff79da;
  }
  66% {
    color: #99e2d0;
  }
}
@keyframes hidde-loader {
  50% {
    opacity: 0;
  }
  100% {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
@keyframes display-index {
  100% {
    visibility: visible;
    height: 100%;
    overflow: hidden;
  }
}
.nav-section {
  align-items: center;
  text-align: center;
}

.localisation-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #eaeaea;
  font-weight: 400;
  color: #353535;
  position: relative;
}
.localisation-block input {
  background: none;
  border: none;
  width: 8rem;
  height: 2rem;
  text-align: center;
}

.nav-section__content {
  width: 100%;
  padding: 3rem;
  background-color: #f6f6f6;
}
.nav-section__content h2 {
  font-size: 1.6rem;
}
.nav-section__content p {
  margin-top: 0.7rem;
  margin-bottom: 1.7rem;
  font-weight: 300;
}

.fonctionnement {
  padding: 3rem 1.5rem 3rem 2.15rem;
  row-gap: 1.5rem;
}
.fonctionnement > div {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.fonctionnement h3 {
  margin-bottom: 0.5rem;
}
.fonctionnement__card {
  background-color: #f6f6f6;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 0.3rem 1rem #bdbdbd;
  transition: background-color 250ms;
}
@media all and (min-width: 993px) {
  .fonctionnement__card {
    width: 320px;
  }
}
.fonctionnement__card span {
  display: block;
}
.fonctionnement__card .card__number {
  color: white;
  background-color: #9356dc;
  width: 1.3rem;
  height: 1.3rem;
  padding-top: 0.1rem;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  left: -0.65rem;
}
.fonctionnement__card .card__logo {
  color: #7e7e7e;
  position: absolute;
  left: 12%;
  transition: color 250ms;
}
.fonctionnement__card .card__txt {
  font-weight: bold;
}
.fonctionnement__card:hover {
  background-color: #f5edff;
}
.fonctionnement__card:hover .card__logo {
  color: #9356dc;
}
@media all and (min-width: 993px) {
  .fonctionnement {
    padding: 3rem 10rem 3rem 10.65rem;
  }
  .fonctionnement > header {
    text-align: center;
  }
  .fonctionnement > div {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3rem;
  }
}

.restaurants {
  padding: 3rem 1.5rem;
  background-color: #f6f6f6;
  row-gap: 1.5rem;
}
@media all and (min-width: 993px) {
  .restaurants {
    padding: 3rem 10rem;
  }
  .restaurants > header {
    text-align: center;
  }
}
.restaurants > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
@media all and (min-width: 993px) {
  .restaurants > div {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1.5rem;
  }
}
.restaurants__card {
  position: relative;
  width: 100%;
  max-width: 992px;
  transition: transform 250ms ease-in-out;
  z-index: 1;
}
.restaurants__card .like {
  display: block;
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 2;
}
.restaurants__card .empty {
  position: absolute;
}
.restaurants__card .heart:hover .empty {
  animation: full 350ms ease-in-out forwards alternate;
}
@keyframes full {
  30% {
    opacity: 0;
  }
  100% {
    font-weight: 900;
    opacity: 1;
    background: #4a4a9e;
    background: linear-gradient(201deg, #4a4a9e 0%, #9356dc 31%, #ff79da 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.restaurants__card:hover {
  transform: scale(1.03);
}
@media all and (min-width: 993px) {
  .restaurants__card {
    max-width: 45%;
  }
}
.restaurants a {
  display: block;
  background-color: white;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0.5rem 0.5rem #bdbdbd;
  z-index: 1;
}
.restaurants a img {
  width: 100%;
  height: 30vw;
  max-width: 992px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  object-position: 50% 60%;
}
@media all and (min-width: 993px) {
  .restaurants a img {
    max-height: 340px;
  }
}
.restaurants a figcaption {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants a figcaption p {
  font-weight: 300;
}
.restaurants a .card__new-tag {
  display: inline-block;
  background-color: #99e2d0;
  padding: 0.4rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #278870;
  position: absolute;
  top: 5%;
  right: 5%;
  border-radius: 0.1rem;
}

.menu {
  padding: 2rem 1.5rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}
.menu header h2 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}
.menu header span {
  display: block;
  position: relative;
}
.menu header .empty {
  position: absolute;
}
.menu header .heart:hover .empty {
  animation: full 350ms ease-in-out forwards alternate;
}
@keyframes full {
  30% {
    opacity: 0;
  }
  100% {
    font-weight: 900;
    opacity: 1;
    background: #4a4a9e;
    background: linear-gradient(201deg, #4a4a9e 0%, #9356dc 31%, #ff79da 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.menu .dish-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding-bottom: 1.5rem;
}
@media all and (min-width: 993px) {
  .menu .dish-section__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .menu .dish-section__container .dish-section {
    width: fit-content;
  }
}

.btn-pages {
  width: 12rem;
  margin: 1rem;
}

/*# sourceMappingURL=style.css.map */
