.hidden-index {
  width: 100%;
  height: 0;
  overflow: hidden;
  animation: display-index 100ms 3000ms linear forwards;
}

.loading-section {
  width: 100%;
  height: 100vh;
  background: $color-bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hide-loader 800ms 3000ms cubic-bezier(0.66, 0.1, 0.71, 1.01)
    forwards;

  span {
    display: block;
    font-family: "Shrikhand", cursive;
    font-weight: lighter;
    position: absolute;
    margin: auto;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px black;
    animation: color 850ms infinite linear alternate;

    @media all and (min-width: $desktop) {
      top: 30vh;
    }

    @for $i from 0 to 10 {
      &:nth-child(#{$i + 1}) {
        font-size: (7px * $i);
        opacity: (0.1 + $i * 0.1);
        animation-delay: 100ms * $i;
        color: $color-primary;
        transform: rotateX(1deg + $i) translateX(-50%) translateY(1% * $i);

        @media all and (min-width: $desktop) {
          font-size: (20px * $i);
        }
      }
    }
  }
}

@keyframes color {
  0%,
  100% {
  }

  33% {
    color: $color-secondary;
  }

  66% {
    color: $color-tertiary;
  }
}

@keyframes hide-loader {
  0% {
  }

  50% {
    opacity: 0;
  }

  100% {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

@keyframes display-index {
  0% {
  }

  100% {
    visibility: visible;
    height: 100%;
    overflow: hidden;
  }
}

// $nb-letter: 4;
// $animation-duration: 1000ms;
// $animation-delay: $animation-duration / $nb-letter;

// .loading-section {
//     width: 100vw;
//     height: 100vh;
//     background: $color-bg-dark;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .loading-bg {
//         height: 10rem;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: $color-primary;
//         animation: bg-change $animation-duration ease-in-out infinite;
//         background-clip: text;
//         -webkit-text-fill-color: transparent;
//     }

//     span {
//         display: block;
//         font-family: 'Shrikhand', cursive;
//         font-size: 2.8rem;
//         padding: 0 .3rem;
//         font-weight: lighter;
//     }
// }

// $nb-letter: 8;
// $animation-duration: 1000ms;
// $animation-delay: $animation-duration / $nb-letter;

// .letter {

//     animation: pulse $animation-duration ease-in-out infinite alternate;

//     @for $i from 1 through $nb-letter {
//         &.n#{$i} {
//             animation-delay: $animation-delay * $i;
//         }
//     }

// }

// @keyframes pulse {
//     0%, 100% {
//         opacity: 1;
//         scale: 1;
//     }

//     45% {
//         opacity: .5;
//         scale: 1.8;
//         transform:translateZ(1rem)
//     }
// }

// @keyframes bg-change {
//     0%, 100% {

//     }

//     40% {
//        background-color: $color-secondary;
//     }
// }
