.menu-section {
  padding: 2rem 1.5rem;
  border-radius: 2rem 2rem 0 0;
  background-color: $color-bg-light;
  @include flex-column-center;
  justify-content: center;


  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    h2 {
      font-family: "Shrikhand", cursive;
      font-weight: lighter;
    }

    @include like-button-pages;
    @include like-button;
  }

  .dish-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    padding-bottom: 1.5rem;
  }

  @media all and (min-width: $desktop) {
    .dish-section_wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;

      .dish-section {
        width: fit-content;
      }
    }
  }
}

.btn-pages {
  width: 12rem;
  margin: 1rem;
}
