// MIXIN FOOTER BACKGROUND

@mixin bg-footer-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 250ms linear;
}

@mixin clr-bg-footer-link {
  background: light-clr(rgb(74, 74, 158), 10);
  background: linear-gradient(
    201deg,
    light-clr(rgba(74, 74, 158, 1), 10) 0%,
    light-clr(rgba(147, 86, 220, 1), 5) 31%,
    light-clr(rgba(255, 121, 218, 1), 5) 100%
  );
  background-clip: text;
}

// MIXIN LOGO BACKGROUND

@mixin bg-color-for-logo {
  background: rgb(74, 74, 158);
  background: linear-gradient(
    201deg,
    rgba(74, 74, 158, 1) 0%,
    rgba(147, 86, 220, 1) 31%,
    rgba(255, 121, 218, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// MIXIN LIKE BUTTON

@mixin like-button-index {
  .like {
    display: block;
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: 2;
  }
}

@mixin like-button-pages {
  span {
    display: block;
    position: relative;
  }
}

@mixin like-button {
  
  .empty {
     position: absolute;
  }

  .heart:hover .empty {
    animation: full 350ms ease-in-out forwards alternate;
  }

  @keyframes full {
    0% {

    }

    30% {
      opacity: 0;
    }

    100% {
      font-weight: 900;
      opacity: 1;
      @include bg-color-for-logo();
    }
  }
}

// MIXIN FLEXBOX


@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-spaceBeetween-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// OVERFLOW DISHCARDS

@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}