// COLORS

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-bg-medium: #eaeaea;
$color-bg-light: #f6f6f6;
$color-bg-dark: #353535;
$color-shadow: #bdbdbd;
$color-logo-card: #7e7e7e

